/* @theme nmt-theme */

@import "default";

:root {
  --main-bg-color: #f8f9fa;
  --main-text-color: #080808;
  --main-text-bg-color: rgb(248, 249, 250, 0.95);
  --header-bg-color: rgb(217, 39, 46, 0.9);
  --header-text-color: #f8f9fa;
  --subheader-bg-color: rgb(0, 0, 20, 0.5);
  --subheader-text-color: #f8f9fa;
  --border-color: #d9272e;
}

* {
  font-family: "Arial", sans-serif;
}

section {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 28px;
  justify-content: start;
  display: flex;
  /* padding: 40px; */
  /* border-left: 10px solid var(--border-color); */
  border-top: 0.5em solid var(--border-color);
  border-bottom: 0.5em solid var(--border-color);
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  background-color: var(--main-text-bg-color);
  /* padding: 0.25em; */
  border-radius: 0.3em;
}

p {
  padding: 0.1em;
  padding-left: 2em;
}

h1 {
  padding: 0.25em;
  font-size: 44px;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}

h2 {
  padding: 0.25em;
  font-size: 36px;
  background-color: var(--subheader-bg-color);
  color: var(--subheader-text-color);
}

h3 {
  padding: 0.05em;
  font-size: 30px;
  color: var(--border-color);
}

ul,
ol {
  font-size: 24px;
  padding-left: 0px;
  /* margin: 0em; */
  /* margin: 0.25em 0.5em; */
}

li {
  margin-left: 2em;
  /* margin: 0em; */
  /* padding: 0em; */
  /* padding: 0.1em; */
  /* padding-left: 0.5em; */
  /* margin-bottom: 10px; */
}

code {
  background-color: var(--subheader-bg-color);
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 0.8em;
}

/* Custom layout adjustments */

section.centre {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}

section.img img {
  /* align-items: center; */
  justify-content: end;
  position: absolute;
  left: 30em;
}

/* img {
  position: fixed;
  left: 12em;
} */

section.lead {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}

section.lead h1 {
  font-size: 60px;
  text-align: center;
}

section.lead h2 {
  font-size: 48px;
}

section.me {
  display: flex;
  justify-content: right;
}

/* Slide footer */
footer {
  /* align-self: flex-end; */
  position: fixed;
  z-index: -10;
  /* left: 0px;
  bottom: 0px; */
  /* position: fixed; */
  /* right: 40px; */
  /* bottom: 20px; */
  /* left: auto; */

  /* bottom: 1em; */
  /* font-size: 0.8em; */
  left: 61em;
  top: 0em;
}

/* img {
  position: fixed;
  left: 12em;
} */
